/* #Animations */

@keyframes fromPortugalToAngola {
    from {
        top: 190px;
        left: 435px;
    }
    to {
        top: 310px;
        left: 495px;
        
    }
}

.fromPortugalToAngola {
    animation: fromPortugalToAngola 5s;
    animation-fill-mode: forwards;
}

@keyframes fromAngolaToMexico {
    from {
        top: 310px;
        left: 495px;
    }
    to {
        top: 230px;
        left: 205px;
    }
}

.fromAngolaToMexico {
    animation: fromAngolaToMexico 5s;
    animation-fill-mode: forwards;
}

@keyframes fromMexicoToPortugal {
    from {
        top: 230px;
        left: 205px;
    }
    to {
        top: 190px;
        left: 435px;
    }
}

.fromMexicoToPortugal {
    animation: fromMexicoToPortugal 5s;
    animation-fill-mode: forwards;
}

.firstRotation {
    transform: rotate(60deg);
}

.secondRotation {
    transform: rotate(193deg);
}

.thirdRotation {
    transform: rotate(339deg);
}

/* end of animations */

html {
    font-family: 'Roboto', sans-serif;
    background-color:  #dde2e3;
    color: #72747a;
}

#plane {
    top: 190px;
    left: 435px;
    position: relative;
    color: black;
}

#map {
    margin: 0 auto;
    background-image: url('grey-all.png');
    width: 1000px;
    height: 465px;
    /* border: 1px solid black; */
    background-repeat: no-repeat;
    background-size: 100% 465px;   
}

#content {
    text-align: center;
    margin: 0 auto;
    width: 1000px;
    height: 234px;
}

ul {
    padding: 20px 0 20px 0;
    width: 100%;
    margin: auto;
}

ul > li {
    display: inline-block;
    color: #72747a;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 147px;
    height: 150px;
    background-color: white;
}

li {
    text-align: center;
    margin-right: 16px;
}

li:last-child {
    padding: 0;
}

li p {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.hidden {
    display: none;
}

.imageCard p {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    font-size: 14px;
    position: relative;
    top: 24px;
    left: 0px;
    font-weight: 800;
    color: black;
}

.image-border {
    width: 100px;
    height: 100px;    
    margin: 0 auto;
    position: relative;
    top: 10px;
}

.imageCard img {
    width: 100px;
    height: 100px;
}