/* #Animations */

@keyframes fromPortugalToAngola {
    from {
        top: 190px;
        left: 435px;
    }
    to {
        top: 310px;
        left: 495px;
        
    }
}

.fromPortugalToAngola {
    animation: fromPortugalToAngola 5s;
    animation-fill-mode: forwards;
}

@keyframes fromAngolaToMexico {
    from {
        top: 310px;
        left: 495px;
    }
    to {
        top: 230px;
        left: 205px;
    }
}

.fromAngolaToMexico {
    animation: fromAngolaToMexico 5s;
    animation-fill-mode: forwards;
}

@keyframes fromMexicoToPortugal {
    from {
        top: 230px;
        left: 205px;
    }
    to {
        top: 190px;
        left: 435px;
    }
}

.fromMexicoToPortugal {
    animation: fromMexicoToPortugal 5s;
    animation-fill-mode: forwards;
}

.firstRotation {
    transform: rotate(60deg);
}

.secondRotation {
    transform: rotate(193deg);
}

.thirdRotation {
    transform: rotate(339deg);
}

/* end of animations */

#plane {
    top: 190px;
    left: 435px;
    position: relative;
}

#map {
    margin: 0 auto;
    background-image: url('rawpixel-1090878-unsplash.jpg');
    width: 1000px;
    height: 465px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: 100% 465px;   
}

#content {
    margin: 0 auto;
    width: 1000px;
}

footer {
    text-align: center;
    margin: 10px auto 0 auto;
    color: #bfbfbf;
    font-size: 10px;
    font-weight: 300;
    font-family: 'Helvetica Neue';
  }
  
  footer spam {
    font-weight: 600;
  }

  ul {
    padding: 20px 0 20px 0;
    width: 100%;
    margin: auto;
}

  ul > li {
    display: inline-block;
}

li {
    text-align: center;
    padding-right: 16px;
}

li:last-child {
    padding: 0;
}

li p {
    margin: 0;
    padding: 0;
}